[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
plotly = "*"
scikit-learn = "*"
ipykernel = "*"
ipywidgets = "*"
numpy = "*"
nbformat = "*"
seaborn = "*"
tensorboard = "*"
catboost = "*"
shap = "*"
lightgbm = "*"
bayesian-optimization = "*"
optuna = "*"

[dev-packages]

[requires]
python_version = "3.11"
